body {
    margin: 0;
}


/* Navigation list*/
ul.mynav {
    list-style-type: none;
    margin-top: -40px;
    margin-left: 15px;
    /*margin-right: 5%;*/
    padding: 0;
    background-color: #4C566A;
    position: absolute;
    height: min-content;
    overflow: auto;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: white;
    width: 16%;
}

li.mynav a {
    display: block;
    color: #fAfAfA;
    padding: 8px 26px;
    text-decoration: none;
}

li.category {
    font-size: 1.2em;
    display: block;
    color: #88C0D0;
    padding: 8px 16px;
    text-decoration: none;
}

li.category a{
    display: block;
    text-decoration: none;
}

navbreak {
    display: block;
    color: #fAfAfA;
    padding: 8px 16px;
    text-decoration: none;
}


li.mynav a:hover:not(.active) {
    background-color: #81A1C1;
    color: white;
}

li.category a:hover:not(.active) {
    background-color: #81A1C1;
    color: white;
}


/* Placement of the generated text - makes sure it doesn't overlap the nav list*/
.bod {
    margin-right:20%;
    margin-left:20%;
}

/* General text looks */
body {
    background-color: #2E3440;
    color: #ffffff;
}

h1 {
    /*background-color: #4C566A;*/
    padding: 5px;
    text-align: left;
    width: 100%;
    color: #88C0D0;
}

h2 {
    color: #88C0D0;
}

pre {
    padding: 10px;
    border-style: solid;
    border-width: 0px;
    border-radius: 5px;
    border-color: white;
    /*width: min-content;*/
    background-color: #4C566A;
    /*background-color: #2E3440;*/
}

code {
    font-family: monospace;
}

a {
    color:  #88C0D0;
}

footer {
    margin-left:20%;
    margin-right:20%;
    margin-bottom:5px;
    background:#4C566A;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: white;
    padding: 5px;
}

ul.topnav {
    margin-left:20%;
    margin-right:20%;
    margin-top: 5px;
    margin-bottom: 0px;
    background:#4C566A;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: white;
    padding: 5px;
    list-style-type: none;
}

li.topnav {
     display: inline;
}

li.topnav a {
    color: #fAfAfA;
    /*padding: 8px 16px;*/
    text-decoration: none;
}

li.topnav a:hover:not(.active) {
    background-color: #81A1C1;
    color: white;
}


/******************/
/* nord0 #0A0B0D  */
/* nord1 #3B4252  */
/* nord2 #434C5E  */
/* nord3 #4C566A  */
/* nord4 #D8DEE9  */
/* nord5 #E5E9F0  */
/* nord6 #ECEFF4  */
/* nord7 #8FBCBB  */
/* nord8 #88C0D0  */
/* nord9 #81A1C1  */
/* nord10 #5E81AC */
/* nord11 #BF616A */
/* nord12 #D08770 */
/* nord13 #EBCB8B */
/* nord14 #A3BE8C */
/* nord15 #B48EAD */
/******************/

